<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<%= title %>, 그 위대한 <%= subtitle %></title>

	<!-- 부트스트랩 -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">찬피온</a>
			</div>
			<!--
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div>
			-->
			<!--/.navbar-collapse -->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
				  <!-- <li><a href="/">소개</a></li> -->
				  <li><a href="/members">구성원</a></li>
				  <li class="active"><a href="#">헌법<span class="sr-only">(current)</span></a></li>
				  <li><a href="/history">역사</a></li>
				</ul>
				<!--
				<ul class="nav navbar-nav navbar-right">
				  <li><a href="#">Link</a></li>
				  <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				    <ul class="dropdown-menu">
				      <li><a href="#">Action</a></li>
				      <li><a href="#">Another action</a></li>
				      <li><a href="#">Something else here</a></li>
				      <li role="separator" class="divider"></li>
				      <li><a href="#">Separated link</a></li>
				    </ul>
				  </li>
				</ul>
				-->
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<div class="container">
		<!-- Example row of columns -->
		
		<h1>찬피온헌법</h1>
		<font color="blue">[시행 2016.2.22.]</font><br>
		<font color="blue">[헌법 제1호, 2016.2.22., 최초제정]</font><br>
		<hr>
		<strong>유구한 역사와 전통에 빛나는 우리 찬피온은 과천외고 1학년3반의 숭고한 정신을 계승하고 1·31가스 참사와 8·6계엄혁명의 이념에 입각하여 새로운 왕정체제를 건설함에 있어서, 정의·인도와 동기애로써 찬피온들의 단결을 공고히 하며 모든 사회적 관습을 답습하고 우리식 민주주의 제도를 확립하여 정치·경제·사회·문화의 모든 영역에 있어서 각인의 기회를 불평등하게 하고 의무를 완수하게 하여, 항구적인 세계평화에 이바지함으로써 우리들과 우리들의 자손의 안전과 자유와 행복을 영원히 확보할 것을 다짐하여, 2016년 2월 22일에 제정된 헌법을 공포한다.</strong>
		<hr>




		<h3><strong>제1장 총강</strong></h3>

		<strong>제1조</strong><br>
		① 찬피온은 왕정체제이자 우리식 민주주의체제이다.<br>
		② 찬피온의 주권은 왕에게 있고, 모든 권력은 왕으로부터 나온다.<br>
		

		<strong>제2조</strong><br>
		① 찬피온 일원은 왕의 임명으로 정한다.<br>
		② 모든 찬피온은 특정찬피온의 제명을 신청할 수 있으며, 전원의 찬성에 따라 제명할 수 있다.<br>
		

		<hr>


		<h3><strong>제2장 찬피온의 권리와 의무</strong></h3>

		<strong>제3조</strong><br>
		① 찬피온은 법 앞에 평등하지 않다. 누구든지 원년 또는 비원년 등 사회적 신분에 의하여 정치적·경제적·사회적·문화적 생활의 모든 영역에 있어서 차별을 받을 수 있다.<br>
		② 사회적 특수계급의 제도는 인정되며, 왕의 재가 아래 어떠한 형태로도 창설할 수 있다.<br>
		③ 훈장 등의 영전은 이를 받은 자에게만 효력이 있고, 해당되는 특권이 따른다.<br><br>
		
		<strong>제4조</strong><br>
		① 모든 찬피온은 언론·출판의 자유와 집회·결사의 자유를 가진다. 하지만 언론·출판·집회·결사에 대한 허가나 검열이 인정된다.<br>
		
		<strong>제5조</strong><br>
		① 모든 찬피온은 인간다운 생활을 할 권리를 가진다.<br>
		② 생활능력이 없는 찬피온은 법률이 정하는 바에 의하여 찬피온들의 보호를 받는다.<br>
		
		<strong>제6조</strong><br>
		① 찬피온의 자유와 권리는 헌법에 열거되지 아니한 이유로 경시되지 아니한다.<br>
		② 찬피온의 모든 자유와 권리는 질서유지 또는 공공복리를 위하여 제한할 수 있으며, 제한하는 경우에는 자유와 권리의 본질적인 내용을 침해할 수 있다.<br>


		<hr>


		<h3><strong>제3장 통치기구</strong></h3>
		<h4><strong>제1절 원년</strong></h4>

		<strong>제7조</strong><br>
		입법권은 원년에 속한다.<br>

		<strong>제8조</strong><br>
		① 원년은 원년내의 보통·평등·직접·공개선거에 의하여 선출된 찬피온으로 구성한다.<br>
	  	② 원년의 수는 2인이상 4인이하의 범위 안에서 그때그때 정한다.<br>

		<strong>제9조</strong><br>
		원년의 임기는 퇴출되기 직전까지로 한다.<br>

		<strong>제10조</strong><br>
		원년은 임기중 원년에 의해 그 자격이 상실될 수 있다. <br>
		
		<strong>제11조</strong><br>
		① 원년은 전시·사변 또는 이에 준하는 비상사태에 있어서 병력으로써 군사상의 필요 또는 공공의 안녕질서를 유지할 필요가 있을 때에는 법률이 정하는 바에 의하여 계엄을 선포할 수 있다.<br>
		② 계엄이 선포된 때에는 법률이 정하는 바에 의하여 계엄사령관이 행정전반을 운영하며 영장제도, 언론·출판·집회·결사의 자유, 정부나 법원의 권한에 관하여 특별한 조치를 할 수 있다.<br><br>

		         

		<h4><strong>제2절 왕</strong></h4>
		<strong>제12조</strong><br>
		① 행정권은 왕에게 속한다.<br>
		② 왕은 찬피온을 대표한다.<br>
		
		<strong>제13조</strong><br>
		왕은 권혁찬이며, 왕의 임기는 종신으로 한다.<br>
		
		<strong>제14조</strong><br>
		국가의 안위에 관계되는 중대한 사태에 있어서 찬피온을 보위하기 위하여 긴급한 조치가 필요하고 원년의 집회가 불가능한 때에 한하여, 왕은 법률의 효력을 가지는 명령을 발할 수 있다.<br>
		
		<strong>제15조</strong><br>
		왕은 법률이 정하는 바에 의하여 훈장 기타의 영전을 수여한다.<br><br>


        <h4><strong>제3절 법원</strong></h4>
		<strong>제16조</strong><br>
		사법권은 찬피온 모두에게 있으며, 인민재판 방식으로 진행된다.<br>
		
		<strong>제17조</strong><br>
		찬피온 재판은 기본적으로 군사재판이므로 단심으로 할 수 있으나 중대한 사안의 경우 왕의 재가하에 재심을 청구할 수 있다.<br>
		         

		<hr>


       	<h3><strong>제4장 헌법개정</strong></h3>
		<strong>제18조</strong><br>
		① 헌법개정은 원년의 전원 찬성으로써 한다. 그러나 왕의 재가가 없을 경우에는 불가하다.<br>
 		② 헌법개정안이 전항의 찬성을 얻은 때에는 헌법개정은 확정되며 왕은 즉시 이를 공포하여야 한다.<br>


 		<hr>

		<p><a class="btn btn-default" href="/downloads/Chanpion_Constitution.pdf" role="button" target="_blank">헌법 pdf 파일 보기 &raquo;</a></p>

		<hr>

		<footer>
			<p>&copy; 찬피온 2016</p>
		</footer>
	</div>
	<!-- /container -->
	

</body>

</html>