<!DOCTYPE html>
<html>

<%- include header.ejs %>

<body>
	<%- include menubar.ejs %>

	<div class="container">
		<div class="row" style="margin-top:15px;">
			<div class="col-sm-4">
				<ul class="list-group">
					<li class="list-group-item">2016.12.11 찬피온 사이버 빌리지 구축</li>
					<li class="list-group-item">?</li>
					<li class="list-group-item">?</li>
					<li class="list-group-item">?</li>
					<li class="list-group-item">?</li>
				</ul>
			</div><!-- /.col-sm-4 -->
		</div>
	</div>
	
	<%- include footer.ejs %>

</body>

</html>