<!DOCTYPE html>
<html>

<%- include header.ejs %>

<body>
	<%- include menubar.ejs %>
	
	<div class="container" style="margin:0; padding:0; width:100%;">
		<img class="img-responsive" src="/images/chanpion_assemble.jpg" alt="찬피온 어셈블" style="margin: 0 auto;">
	</div>

	<div class="container">
		<h2>Hello, Chanpions!</h2>
		<p>찬피온 사이버 빌리지에 오신 것을 환영합니다.</p>
		<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
	</div>

	<%- include footer.ejs %>
<!--
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>가스 참사</h2>
				<img class="img-responsive" src="/images/danger_gas.jpg" alt="찬피온 어셈블">
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>회 먹방</h2>
				<img class="img-responsive" src="/images/rawfish.jpg" alt="찬피온 어셈블">
				<p>당진수산의 당진네A세트(110,000원) </p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>
-->	

</body>

</html>