<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<%= title %>- <%= subtitle %></title>

	<!-- 부트스트랩 -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><%= title %></a>
			</div>
			<!--
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div>
			-->
			<!--/.navbar-collapse -->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
				  <!-- <li><a href="/">소개</a></li> -->
				  <li class="active"><a href="#">구성원<span class="sr-only">(current)</span></a></li>
				  <li><a href="/constitution">헌법</a></li>
				  <li><a href="/history">역사</a></li>
				  
				</ul>
				<!--
				<ul class="nav navbar-nav navbar-right">
				  <li><a href="#">Link</a></li>
				  <li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				    <ul class="dropdown-menu">
				      <li><a href="#">Action</a></li>
				      <li><a href="#">Another action</a></li>
				      <li><a href="#">Something else here</a></li>
				      <li role="separator" class="divider"></li>
				      <li><a href="#">Separated link</a></li>
				    </ul>
				  </li>
				</ul>
				-->
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="alert alert-warning" role="alert" style="margin-top:10px;">
        	<strong>Warning!</strong><br>구성원 정렬은 신분, 이름 순으로 한다.
      	</div>
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-6">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>이름</th>
							<th>신분</th>
							<th>출신</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>권혁찬</td>
							<td>왕</td>
							<td>1-3</td>
						</tr>
						
						<tr>
							<td>2</td>
							<td>남덕호</td>
							<td>원년</td>
							<td>1-3</td>
						</tr>
						<tr>
							<td>3</td>
							<td>조훈희</td>
							<td>원년</td>
							<td>1-3</td>
						</tr>
						<tr>
							<td>4</td>
							<td>서인혁</td>
							<td>헌법소장<br>(원년 탄핵)</td>
							<td>1-3</td>
						</tr>
						<tr>
							<td>5</td>
							<td>김광섭</td>
							<td>시민<br>(원년 사임)</td>
							<td>1-3</td>
						</tr>
						<tr>
							<td>6</td>
							<td>김준호</td>
							<td>시민</td>
							<td>1-3</td>
						</tr>
						<tr>
							<td>7</td>
							<td>박형순</td>
							<td>시민</td>
							<td>1-4</td>
						</tr>
						<tr>
							<td>8</td>
							<td>진준수</td>
							<td>시민</td>
							<td>1-3</td>
						</tr>
						<tr>
							<td>9</td>
							<td>최순혁</td>
							<td>시민</td>
							<td>1-3</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>

		<hr>

		<footer>
			<p>&copy; 찬피온 2016</p>
		</footer>
	</div>
	<!-- /container -->
	

</body>

</html>